altgraph==0.16.1
args==0.1.0
certifi==2018.8.24
chardet==3.0.4
clint==0.5.1
future==0.16.0
idna==2.7
lxml==4.2.5
macholib==1.11
modulegraph==0.17
pefile==2018.8.8
py2app==0.17
pyfiglet==0.7.5
PyInstaller==3.4
PyQt5==5.11.2
PyQt5-sip==4.19.12
PySimpleGUI==3.4.1
requests==2.19.1
urllib3==1.24.2
